body{
    height: 100vh;
    background-image: linear-gradient(rgb(56, 49, 49),rgb(186, 74, 130));
}
.logo{
    display: block;
    margin: auto;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}
h1{
    text-align: center;
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 955px;
    /* background-color: palegreen; */
    border: 2px solid rgb(110, 190, 224);
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    margin-bottom: 23px;
    overflow-y: auto;
}
.message{
    background-color: rgb(210, 194, 194);
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid black;
    border-radius: 10px;
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
}
#messageInp{
    width: 80%;
    border: 2px solid silver;
    border-radius: 6px ;
    height: 34px;
    font-size: 22px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}