//-  A template engine (template processor) is a software designed to combine templates with a data model to
//-  produce result documents.In simple words, if we feed anything to the template engine, it provides the custom template output.
html 
head 
 title=title 
body 
 h1= message